.ex-1-square{
  transition: background-color 2s;
}

.ex-1-square:hover{
  background-color: red;
}

.ex-2-square{
  transition: width 2s;
}

.ex-2-square:active{
  width: 100%;
}

.ex-3-square{
  transition: border-radius 0.7s ease;
}

.ex-3-square:hover{
  border-radius: 50%;
}

.ex-4-square{
  transition: opacity 1.5s ease;
}

.ex-4-square:hover{
  opacity: 0;
}

.ex-5-square{
  transition: transform 1s linear;
}

.ex-5-square:hover{
  transform: scale(2);
}

.ex-5-square:active{
  transform: scale(0.5);
}

.ex-6-img:hover{
  filter: grayscale(1);
}

.ex-7-img{
  transition: filter 2s ease;
}

.ex-7-img:hover{
  filter: sepia(70%) brightness(110%);
}

.ex-8-img{
  border-radius: 0;
  filter: none;
  transition: all 2s ease;
}

.ex-8-img:hover{
  filter: grayscale(90%) saturate(110%);
  border-radius: 30px;
}

.ex-9-img{
  border-radius: 0;
  filter: none;
  transition: filter 2s ease, border-radius 2s ease, transform 2s ease;
}

.ex-9-img:hover{
  filter: grayscale(90%) brightness(130%);
  border-radius: 30px;
  transform: scale(1.5);
}

.ex-10-icon{
  transform: rotate(360deg);
  animation-name: infinite_spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes infinite_spin {
  /* 360 / 10 = 36 quindi tolgo 36 ogni 10%( = 100% / 10) */
  0% {
    transform: rotate(360deg);
  }

  10% {
    transform: rotate(324deg);
  }

  20% {
    transform: rotate(288deg);
  }

  30% {
    transform: rotate(252deg);
  }

  40% {
    transform: rotate(216deg);
  }

  50% {
    transform: rotate(180deg);
  }

  60% {
    transform: rotate(144deg);
  }

  70% {
    transform: rotate(108deg);
  }

  80% {
    transform: rotate(72deg);
  }

  90% {
    transform: rotate(36deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
